<!DOCTYPE html>
<html>

<form  ng-submit='CONTR.Server.sendLogin("",CONTR.location.search().url,m,CONTR.location.search().method,{"Content-Type":CONTR.location.search().ContentType,"Accept":CONTR.location.search().Accept},CONTR,true,CONTR.pool)'>
<table border=1 style="margin-left:2%" ng-show="CONTR.location.search().text.length>0">
        
            <tr ng-repeat="k in ((CONTR.location.search().text.charAt ==undefined ) ? CONTR.location.search().text :[CONTR.location.search().text])" >
                <td>
                    {{k.toUpperCase()}}
                </td>
                <td >
                    <input ng-attr-name="{{k}}" type="text" ng-model="CONTR.pool.search[k]">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="refrash"></input>
                </td>
            </tr>

        
            

    </table>

<input type="submit" value="Submit"></input>
</form>

</html>